@import "../../../_variables";

.answer-btn {
    color: black;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    background-color: $vertlightgrey;
    border: 1px solid black;
    width: 100%;
}

// Styling loading bar
.loadingbar {
    height: 2px;
    box-shadow: none;
}

.loadingbar[disabled] {
    cursor: default;
    background-clip: content-box;
}

button {
    background-color: $vertlightgrey;
    border: 1px solid black;
    color: black
} 


