<div class="">

    <app-points></app-points>

    <div class="row">
        <p class="col-10">{{graduateProgram.name}}</p>
        <p class="col-2 text-end">{{timeLeft}}</p>
        <div class="loadingbar" [style.background]="progressStyle">
        </div>

    </div>
    <div class="text-center mt-3">
        <h3>Vraag nr {{questionDisplayIndex}}/{{graduateProgram.questions.length}}</h3>
        <p>{{currentQuestion.textualQuestion}}</p>
        <div *ngFor="let answer of currentQuestion.multipleChoiceAnswers">
            <button id="" class="answer-btn btn btn-primary" [disabled]="disabled"
                (click)="addAnswer(currentQuestion.id, answer.id, answer.correct)">{{answer.textualAnswer}}</button>
        </div>
    </div>

    <div class="text-center" [ngClass]="gameFinished ? '' : 'd-none'">
        <div id="no-escape" class="mt-5" [ngClass]="hasEscaped ? 'd-none' : ''">
            <p>Helaas! De vragenlijst is niet volledig afgewerkt!</p>
            <button (click)="retry()" class="btn btn-primary">Probeer opnieuw</button>
        </div>

        <div id="escape" class="mt-5" [ngClass]="hasEscaped ? '' : 'd-none'">
            <p>Je hebt {{correctAnswerCounter}} vragen correct beantwoord!</p>
            <p>Je hebt {{points}} punten verdiend!</p>
        </div>

        <div class="mt-5">
            <button (click)="goBack()" class="btn btn-primary">Terug naar de metro</button>
        </div>
    </div>
</div>