<div class="container">
    <div class="row">
        <p class="col-6">{{graduateProgram.name}}</p>
        <p class="col-6 text-end">{{timeLeft}}</p>
        <circle-progress [percent]="percent" [radius]="radius" [showInnerStroke]="showInnerStroke"
            [outerStrokeWidth]="outerStrokeWidth" [innerStrokeWidth]="innerStrokeWidth"
            [outerStrokeColor]="outerStrokeColor" [innerStrokeColor]="innerStrokeColor" [animation]="animation"
            [animationDuration]="animationDuration" [showUnits]="showUnits" [showSubtitle]="showSubtitle"
            [startFromZero]="startFromZero"></circle-progress>

            <div class="loadingbar btn-secondary launch-btn" [style.background]="progressStyle">
            </div>
            <!-- <div class="grad"></div> -->

    </div>
    <div class="text-center">
        <h3>Vraag nr {{currentQuestion.id}}/{{graduateProgram.questions.length}}</h3>
        <p>{{currentQuestion.question}}</p>
        <div *ngFor="let answer of currentQuestion.answers">
            <button class="answer-btn btn btn-info"
                (click)="addAnswer(currentQuestion.id, answer.id)">{{answer.answer}}</button>
        </div>
    </div>
</div>