<!-- <p>metroline works!</p> -->
<!-- <div>{{faculties[activeline.lineId].name}}</div>
<table class="table">
    <tr *ngFor="let st of graduatePrograms">
        <td  bgColor={{activeline.color}}>o</td>
        <td [ngStyle]="{backgroundColor: st.graduateProgramId === activeStationId ? 'green' : 'white'}"
          (click)="goToStation(st.graduateProgramId)" >{{st.name}}</td>
        <td (click)="goToForm()" *ngIf="st.graduateProgramId === activeStationId"><button ><i class="fa-regular fa-circle-down"></i></button></td>
        <td *ngIf="st.connection != null" bgColor={{lines[st.connection.lineId].color}} >
           {{faculties[st.connection.lineId].name}}</td>
            <td *ngIf="st.connection != null && st.graduateProgramId == activeStationId" bgColor={{lines[st.connection.lineId].color}}
            (click)="changeLine(st.connection.lineId)"><i class="fa-solid fa-person-walking-arrow-right"></i> </td>
    </tr>
</table> -->
<div [style.backgroundColor]="activeline.color" ngClass="activeline">{{faculties[activeline.lineId].name}}</div>
<div ngClass="box">
  <div *ngFor="let st of graduatePrograms" ngClass="boxRow">
    <!-- <div  [style.backgroundColor]="activeline.color" ngClass="firstCell">o</div> -->
    <div [ngStyle]="{backgroundColor: st.graduateProgramId === activeStationId ? 'lightgrey' : 'white'}"
    (click)="goToStation(st.graduateProgramId)"
    ngClass="boxCell"><button [ngStyle]="{backgroundColor: st.graduateProgramId === activeStationId ? 'lightgrey' : 'white'}">{{st.name}}</button></div>
    <div (click)="goToForm()" *ngIf="st.graduateProgramId === activeStationId" ngClass="smallCell"><button [ngStyle]="{backgroundColor: st.graduateProgramId === activeStationId ? 'lightgrey' : 'white'}"><i class="fa-regular fa-circle-down"></i></button></div>
    <div *ngIf="st.graduateProgramId != activeStationId" ngClass="smallCell"><button [ngStyle]="{backgroundColor: st.graduateProgramId === activeStationId ? 'lightgreen' : 'white'}"><i class="fa-solid fa-ban"></i></button></div>
    <!-- <div *ngIf="st.connection != null" [style.backgroundColor]="lines[st.connection.lineId].color" ngClass="secondCell">{{faculties[st.connection.lineId].name}}</div> -->
    <div *ngIf="st.connection != null && st.graduateProgramId == activeStationId" 
    (click)="changeLine(st.connection.lineId)" ngClass="smallCell
    "><button [style.backgroundColor]="lines[st.connection.lineId].color"><i class="fa-solid fa-person-walking-arrow-right"></i> </button></div>
  </div>
</div>