<!-- <div class="rounded p-4 mb-4 text-lg bg-red-200 text-red-800 border-2 border-red-300"
    *ngIf="isSubmitted && errorMessage">
    {{errorMessage}}
</div> -->
<div class="container my-5">
    <div class="row d-flex justify-content-center">

        <div id="bg"></div>
        <div class="mt-5 p-4 text-center animated fadeIn">
            <form (ngSubmit)="onSubmit()" #categoryForm="ngForm">
                <span class="login100-form-title p-b-70">Welkom</span>
                <span class="login100-form-avatar">
                    <p><i class="fa-solid fa-circle-user fa-8x"></i></p>
                </span>
                <div class="wrap-input100 validate-input m-t-85 m-b-35">
                    <input type="name" id="name" name="name"
                        class="input100"
                        placeholder="Name" [(ngModel)]="userName" #name="ngModel">
                    <div [hidden]="name.valid || name.pristine" class="">Name is required</div>
                    <span class="focus-input100">
                    </span>
                </div>
                <div class="container-login100-form-btn">
                <button type="submit"
                    class="login100-form-btn">Start</button>
                </div>
            </form>
        </div>
    </div>

</div>