<!-- <div class="rounded p-4 mb-4 text-lg bg-red-200 text-red-800 border-2 border-red-300"
    *ngIf="isSubmitted && errorMessage">
    {{errorMessage}}
</div> -->
<img class="img-fluid mb-2" src="../assets/images/logo.png" alt="">

<form (ngSubmit)="onSubmit()" #categoryForm="ngForm">
    <div class="mb-6">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 ">Name</label>
        <input type="name" id="name" name="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="Name" [(ngModel)]="userName" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="text-red-500 mt-2">Name is required</div>
    </div>

    <button type="submit"
        class="text-white bg-blue-700 enabled:hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center disabled:opacity-75">Start</button>
</form>