<p>neighbourhood works! {{neighbourhoodImg.width}}</p>

<img #neighbourhoodImg class ="neighbourhoodImg" src="../../assets/images/neigberhood.jpg" alt="" usemap="#neighbourhood"  (window:resize)="ChangeViewport()">



<map name="neighbourhood">
    <area class = "area-building1" shape="rect" coords={{cordsBuilding1}} (click)="NavigateToForm(buildings[0].id)">
    <area class = "area-building2" shape="rect" coords="666,95,920,360" (click)="NavigateToForm(buildings[1].id)">
</map>
  

<div *ngFor="let building of buildings">
    
    {{building.id}}
    {{building.graduateProgram}}
    {{building.color}}
</div>

