.neighbourhoodImg {
    position: relative;
    max-width: 100%;
    vertical-align: middle;
    height: auto;
    border: black solid 1px;  /*  te verwijderen */
}


area {
    cursor: pointer;
    position: absolute;
    border: red solid 1px;
    opacity: 0.4;
}
