

.neighbourhood {
    position: relative;
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

map {
    position: absolute;
    border: green solid 1px;
}

area {
    cursor: pointer;
    position: absolute;
    // border: red solid 1px;
    // opacity: 0.4;
}
