
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');


$font-family-sans-serif: 'ABeeZee', sans-serif;
$borderradius: 5px;
$vertlightgrey: #f7f3f3;